header {
  background: purple;
  height: 100px;
}

h1 {color: white; text-align: center;}

.article {
  font-size: 16px; margin: 20px;text-align: center;
}

.btn-login{
  color:rgb(46, 43, 226); width:400px;
}

h2, p {
  color: rgb(177, 110, 22); font-family: sans-serif; text-align: center;
}

.new_user{
  margin-top: 50px; margin-left:0%;
}

ul {
  color: blueviolet;
  }

.formacct, .container {display: flex; flex-wrap: wrap; padding: 20px; margin-left: 40%; width:250px; 
  border: 2px solid black;
}

.container {width:300px; }
table {border: 1px solid black; border-collapse: collapse; margin-top: 30px; margin-left: 10%; height: 500px; width: 80%;}

th, td, table {border: 1px solid black; text-align: center;}