{% extends "layout.html" %}

{% block title %}
    Book Reviews
{% endblock %}

{% block body %}
    <div class='article'>
        <h2>Welcome</h2>
        <p>Welcome to my book review page. You can view book information and give a review on the books.</p>
    </div>
    <div class="container">
        <p>First time here?</p><a href="{{ url_for("accounts")}}">Create an account</a> 
        <form>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </form>
        <a href="{{ url_for("accounts")}}">Forgot password?</a>
        <button type="submit" class="btn-login">Login</button>
    </div>
{% endblock %}